// _base.scss
// ==============
// body {
//   // background: #000;
//   // font-family: 'Myriad Pro'
// }
* {
    font-family: $bodyFont;
    font-weight: 300; // transition: all 0.5s ease-in-out;    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headFont; // font-weight: 400 default;
    color: $white;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    font-weight: 300;
}

p {
    color: $white;
    letter-spacing: 0.1rem;
    line-height: 1.5;
}

body {
    background-color: $dark;
    color: $white;
}

a:hover {
    color: $white;
}
.navbar-brand {
    background-color: $grey-dark;
    padding: 15px;
}

header {
    nav.navbar.navbar-dark {
        margin-top: 30px;
        .navbar-brand {
            position: absolute;
            top: -30px;
        }
        li {
            &>a.nav-link:hover {
                color: $primary;
                text-decoration: underline;
                text-underline-position: under;
            }
            &.active {
                &>a.nav-link {
                    color: $primary;
                    text-decoration: underline;
                    text-underline-position: under;
                }
            }
        }
    }
}

.follow-us {
    margin-top: 20px;
    p {
        color: $grey;
        margin-bottom: 0;
        margin-right: 10px;
    }
    .social-icons {
        li {
            padding-top: 3px;
            margin: 0 5px;
            a {
                color: $grey;
                &:hover {
                    color: $white;
                }
            }
        }
    }
}
section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.bg-wrapper {
    background: url("../assets/images/Asset 20.svg");
    background-size: 100% 60%;
    background-repeat: no-repeat;
    overflow: hidden;
}
.title-main {
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 10%;
        height: 1px;
        background-color: $primary;
        bottom: -15px;
        left: 0;
    }
}

.btn {
    min-width: 120px;
}

.btn-main {
    padding: 10px 40px;
    border-radius: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}
#projects {
    padding-top: 0;
}

.projects-group {
    border: 1px solid $primary;
    padding: 60px 0 60px 60px;
    .discover {
        align-self: center;
        display: flex;
        margin: 2rem auto 0;
    }
}

#featured {
    .braced-title {
        margin: 30px 0 60px;
    }
    .owl-container {
        position: relative;
        width: 97%;
        margin: auto;
        .no-js .owl-carousel, 
        .owl-carousel.owl-loaded {
            margin: 0;
        }
        .owl-theme .owl-nav.disabled+.owl-dots {
            margin-top: 50px;
        }
        .customPrevBtn,
        .customNextBtn {
            position: absolute;
            font-size: 2.5rem;
            top: 30%;
            bottom: 0;
            color: $white;
            z-index: 5;
        }
        .customPrevBtn {
            left: -1%;
        }
        .customNextBtn {
            right: -1%;
        }
    }
}

#best-project {
    .braced-title {
        margin-bottom: 3.5rem;
    }
    .btn {
        margin-top: 3.5rem;
    }
    .image-container {
        position: relative;
        display: flex;
        justify-content: center; // width: 220px;
        height: 400px;
        overflow: hidden;
        padding: 0;
        img {
            min-height: 100%;
            min-width: 100%;
            width: auto;
        }
        .type {
            position: absolute;
            top: 15px;
            left: 30px;
        }
    }
    .featured-body {
        .title {
            margin-bottom: 10px;
            font-size: 1.3rem;
        }
        .price {
            font-size: 1.3rem;
            font-weight: 700;
            margin-top: 10px;
        }
    }
}

#newsletter {
    height: 350px;
    background: url("../assets/images/Asset 21.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50px 0px;
    .content {
        display: flex;
        align-content: center;
        p {
            margin-bottom: 1rem;
            font-size: 0.9rem;
            font-style: italic;
        }
        h3 {
            margin-bottom: 2rem;
        }
        .form {
            text-align: center;
            justify-content: center;
            .form-group {
                width: 50%;
                margin: auto;
                position: relative;
                .form-control {
                    background-color: #eee;
                    width: 100%;
                    height: 70px;
                    padding: 15px 45px 15px 30px;
                    border-radius: 0;
                    text-align: center;
                    @include placeholder {
                        color: $grey;
                    }
                }
                .btn {
                    border-radius: 0;
                    width: 140px;
                    position: absolute;
                    right: -100px;
                    height: 45px;
                }
            }
        }
    }
}

footer {
    .contacts {
        margin: 0 -15px;
        position: relative;
        p {
            color: $grey-dark;
        }
        .copyright {
            color: $white;
            font-size: 0.8rem;
        }
    }
    .social-icons {
        li {
            padding-top: 5px;
            a {
                color: $grey;
                font-size: 1.3rem;
                margin: 0 0.1rem;
                &:hover {
                    color: $white;
                }
            }
        }
    }
}