/*
 * @media (min-width: 992px) and (max-width: 1199px) {}
 */

@include media-breakpoint-between(md, lg) {
    .carousel-controls-container {
        right: calc((100% - 960px)/2);
    }
    #projects {
        max-width: 100%;
    }
}

/*
 * @media (min-width: 992px) and (max-width: 1199px) {}
 */

@include media-breakpoint-between(sm, md) {
    .carousel-controls-container {
        right: calc((100% - 0px)/2);
    }
}

// /*
//  * @media (min-width: 1199px)
//  */
@include media-breakpoint-up(lg) {
    #projects {
        // width: 100%;
        max-width: 100%;
    }
    .custom-container-right {
        padding-right: 15px;
        padding-left: calc((100% - 1140px)/2);
    }
}

// /*
//  * @media (max-width: 1200px)
//  */
@include media-breakpoint-down(lg) {}

// /*
//  * @media (min-width: 992px)
//  */
@include media-breakpoint-between(lg, xl) {
    .carousel-controls-container {
        right: calc((100% - 960px)/2);
    }
    #projects {
        max-width: 100%;
    }
}

@include media-breakpoint-up(md) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.8em;
        padding-left: 0.8em;
    }
}

@media only screen and (max-width: 1024px) {
    #developer-slider .slick-slide .summary .description {
        padding: 20px;
        .item-description {
            display: none;
        }
    }
}

/* Compiled:
 * @media (min-width: 544px) {}
 */

@include media-breakpoint-down(md) {
    .projects-group {
        padding: 60px 30px;
    }
    .custom-container-right {
        padding-left: 0;
        margin: auto;
    }
    .carousel-controls-container {
        right: calc((100% - 960px)/2);
    }
    header {
        .navbar-nav {
            margin-top: 40px;
        }
    }
    #slider {
        .carousel {
            min-height: auto;
            .carousel-inner {
                height: 400px;
                .text-block {
                    width: 100%;
                }
            }
        }
        .btn-container {
            display: none;
        }
    }
    .title-underline {
        font-size: 2rem;
        padding-bottom: 10px;
    }
    #developer-slider .slick-slide .summary .description {
        padding: 20px;
    }
}

/* Compiled:
 * @media (max-width: 544px) {}
 */

@include media-breakpoint-down(sm) {
    footer {
        nav {
            margin: 20px auto;
            justify-content: space-around;
        }
    }
    #projects {
        text-align: center;
        .projects-group {
            display: none;
        }
        .follow-us {
            margin: 20px auto 0;
        }
        .title-underline::after {
            left: calc(50% - 35px);
        }
    }
    #best-project {
        text-align: center;
        .code {
            margin: 0 auto 1rem;
        }
        .btn {
            margin: 0 auto 2rem;       
        }
        .image-container {
            margin: 1rem;
            height: 300px;
        }
    }
    .braced-title {
        text-align: center !important; // @extend %bracket-before;
    }
    .bracket-after,
    .bracket-before {
        text-align: center !important;
        &::after,
        &::before {
            display: block;
        }
    }
}

@include media-breakpoint-down(xs) {
    #newsletter {
        .content {
            .form {
                .form-group {
                    width: 90%;
                    .btn {
                        position: static;
                        margin: 10px auto;
                    }
                }
            }
        }
    }
}