// _mixins
// ========
@mixin backImage($image) {
  background: url($image) no-repeat 50% 20% ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
 
  @media (min-width: 801px) {
   height: 350px;
  }
 
  @media (max-width: 800px) {
   height: 150px;
  }
 
  @media (max-width: 300px) {
   height: 100px;
  }
}
 
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

$brace-shift: -1.8rem;


%bracket {
  &::before,
  &::after {
      position: absolute;
      content: '';
      height: 50px;
      width: 50px;
      top: 0;
  }
}

%bracket-before {
  &::before {
      background: url('../assets/images/Asset 19.svg');
      background-size: 50px 50px;
      left: $brace-shift;
  }
}
%bracket-after {
  &::after {
      background: url('../assets/images/Asset 18.svg');
      background-size: 50px 50px;
      right: $brace-shift;
  }
}