.carousel-indicators  {

    li {
        width: 55px;
        height: 7px;
        &.active {
            opacity: 0.8;
        }
    }
}
.btn-primary:focus, .btn-primary.focus {
    box-shadow: none;
}