// _variables.scss
// =================

// $tablet: "(min-width: 768px) and (max-width: 1023px)";
$tablet: "(min-width: 992px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:300,300i,700');

$grey          :#9a9a9a;
$grey-dark          :#404042;
$white          :#fff;
$black         : #000;
$green-dark         : #1b2c0d;
$gold         : #a28343;
$gold-dark         : #4a4741;
$green-light         : #77b14c;
$green-light-transparent         : rgba(119, 177, 76,0.7);
$teal-dark:  #5d7b73;

$primary: $gold;
$secondary: $green-light;
$light:$white;

$font-size-smaller: 0.8rem; 
$font-size-small: 0.9rem; 
$font-size-normal: 1rem; 
$font-size-large: 1.25rem; 
$font-size-larger: 1.5rem; 
$font-size-xlarge: 2rem; 
$font-size-xxlarge: 2.5rem; 

$font-family-primary: 'Times New Roman';
$font-family-secondary: 'Times New Roman';

$headFont : 'Playfair Display', serif;
$bodyFont : 'Roboto', sans-serif;


// Bootstrap Override
$dark : $black