#developer-slider {
    width: 100%;
    margin: 60px 0;
    padding: 0;
    overflow: hidden;
    transition: 0.5s all ease-in-out;
    
    .developer-item {
        overflow: hidden;
        position: relative;
    }
    .slick-list,
    .slick-slider {
        overflow: hidden;
        height: 600px;
    }
    .slick-track {
        overflow-x: hidden !important;
        padding-top: 40px;
    }
    .slick-center {
        transform: scale(1.1);
        transition: 0.5s all ease-in-out;
        z-index: 10;
        .overlay {
            opacity: 0;
        }
    }
    .slick-slide {
        img {
            width: 100%;
        }
        .summary {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 100px;
            }
            .description {
                display: flex;
                width: 60%;
                background: #000;
                padding: 20px 40px;
                height: 70%;
                justify-content: space-around;
                transition: 0.5s all ease-in;
                opacity: 0;
                position: absolute;
                text-align: center;
            }
            .logo {
                opacity: 1;
                position: static;
                display: flex;
                transition: 0.5s all ease-in;
            }
        }
        &.slick-center {
            outline:none;
            .logo {
                position: absolute;
                opacity: 0;
                transition: 0.5s all ease-in;
            }
            .description {
                position: static;
                opacity: 1;
                display: flex;
                transition: 0.5s all ease-in;
            }
            &:focus,
            &.focus {
                outline:none;
            }
        }
    }
}

.transition {
    transition: .7s;
}

// $carousel-width: 600px;
// $carousel-height: 300px;
// body {
//   background: #333;
//   color: #fff;
//   font-size: 22pt;
//   text-align: center;
//   font-family: 'Teko';
//   letter-spacing: 0.15em;
// }
// body * { -webkit-user-select: none }
// .wrap {
//   position: relative;
//   width: $carousel-width;
//   height: 300px;
//   margin: 0 auto;
//   box-shadow:7px 7px 5px 0px rgba(0, 0, 0, 0.25);
// }
// .window {
//   overflow: hidden;
//   position: relative;
//   background: #222;
// }
// #carousel {
//   width: 10000px;
//   position: relative;
//   top: 0; left: -450px;
// }
// .developer-item {
//   height: 300px;
//   width: 500px;
//   cursor: pointer;
//   float: left;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }
// .developer-item#b1 { background: #556270 }
// .developer-item#b2 { background: #4ECDC4 }
// .developer-item#b3 { background: #9CE462 }
// .developer-item#b4 { background: #FF6B6B }
// .developer-item#b5 { background: #C44D33 }
// #prev, #next {
//   cursor: pointer;
//   position: absolute;
//   bottom: -40px;
//   font-size: 14pt;
// }
// #prev { left: 0 }
// #next { right: 0 }
// #developer-slider {
//     width: 100%;
//     height: 500px;
//     margin: 0px;
//     padding: 0;
// }
// #carousel {
//     position: relative;
//     height: 400px;
//     top: 50%;
//     transform: translateY(-50%);
//     overflow: hidden;
//     div {
//         position: absolute;
//         transition: transform 1s, left 1s, opacity 1s, z-index 0s;
//         opacity: 1;
//         img {
//             width: 400px;
//             transition: width 1s;
//         }
//     }
//     .hideLeft {
//         left: 0%;
//         opacity: 0;
//         transform: translateY(50%) translateX(-50%);
//         img {
//             width: 200px;
//         }
//     }
//     .hideRight {
//         left: 100%;
//         opacity: 0;
//         transform: translateY(50%) translateX(-50%);
//         img {
//             width: 200px;
//         }
//     }
//     .prev {
//         z-index: 5;
//         left: 30%;
//         transform: translateY(50px) translateX(-50%);
//         img {
//             width: 450px;
//         }
//     }
//     .prevLeftSecond {
//         z-index: 4;
//         left: 15%;
//         transform: translateY(50%) translateX(-50%);
//         opacity: 0.7;
//         img {
//             width: 200px;
//         }
//     }
//     .selected {
//         z-index: 10;
//         left: 50%;
//         transform: translateY(0px) translateX(-50%);
//     }
//     .next {
//         z-index: 5;
//         left: 70%;
//         transform: translateY(50px) translateX(-50%);
//         img {
//             width: 300px;
//         }
//     }
//     .nextRightSecond {
//         z-index: 4;
//         left: 85%;
//         transform: translateY(50%) translateX(-50%);
//         opacity: 0.7;
//         img {
//             width: 200px;
//         }
//     }
// }
// .buttons {
//     position: fixed;
//     left: 50%;
//     transform: translateX(-50%);
//     bottom: 10px;
// }