.featured-body {
    .location {
        color: rgba(255, 255, 255, 0.65);
        margin-bottom: 1rem;
    }
    .code {
        margin-bottom: 1rem;
    }
    .price {
        color: $primary;
    }
}

.featured-card {
    padding: 10px;
    margin: 0 10px;
    transition: all 0.4s ease-in-out;
    text-align: center;
    .starting-price {
        .price,
        .text {
            // margin-top: 10px;
            color: $primary;
        }
        .price {
            margin-top: 15px;
            margin-bottom: 10px;
        }
    }
    .image-container {
        position: relative;
        display: flex;
        justify-content: center; // width: 220px;
        height: 350px;
        overflow: hidden;
        .overlay {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.25);
            transition: all 0.4s ease-in-out;
        }
        .featured-img {
            height: 100%;
            width: auto;
        }
        .type {
            position: absolute;
            top: 5px;
            left: 10px;
        }
        .featured-body {
            position: absolute;
            bottom: 0;
            z-index: 10;
            width: 100%;
            padding: 0 15px 15px;
            text-align: left;
        }
    }
    &:hover {
        // background-color: $primary;
        cursor: pointer;
        .starting-price {
            p {
                color: $white;
            }
        }
        .overlay {
            background-color: rgba(0, 0, 0, 0);
            transition: all 0.4s ease-in-out;
        }
        .btn.btn-outline-primary {
            color: $primary;
            background-color: $white;
        }
    }
}

.code {
    position: relative;
    padding-left: 45px;
    &::before {
        position: absolute;
        content: '';
        width: 35px;
        height: 2px;
        background-color: $white;
        top: 50%;
        bottom: 0;
        left: 0;
    }
}