.project-card {
    height: 300px;
    width: 33%;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
    .photo {
        height: 100%;
        width: auto;
    }
    .logo {
        position: absolute;
        top: 46%;
        p {
            margin: 0;
        }
    }
    .overlay {
        z-index: 8;
        transition: all 0.3s ease-in-out
    }
    &:hover {
        transform: scale(1.1);
        z-index: 10;
        transition: all 0.3s ease-in-out;
        .overlay {
            opacity: 0;
            transition: all 0.3s ease-in-out
        }
    }
}