.share-icons {
    position: absolute;
    right: 0;
    li {
        a {
            padding: 5px 7px 0px;
            background: $grey-dark;
            margin: 0 0 0 5px;
            color: $white;
            display: inline-block;
            font-size: 1.2rem;
        }
    }
}