#slider {
    overflow: hidden;
    .btn-container {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        height: 132px;
        z-index: 20;
        transition: all 0.3s ease-in-out;
        .btn-search {
            position: absolute;
            right: 15px;
            bottom: 0;
            width: 250px;
            padding: 10px;
            .up {
                display: inline;
            }
            .down {
                display: none;
            }
        }
        &.show-search {
            transition: all 0.3s ease-in-out;
            bottom: 80%;
            .btn-search {
                .up {
                    display: none;
                }
                .down {
                    display: inline;
                }
            }
        }
    }
    .form-container {
        width: 250px;
        padding: 5px 15px;
        background-color: $grey-dark;
        position: absolute;
        right: 15px;
        top: 100%;
        height: 560px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        .search-form {
            width: 100%;
        }
        .form-group-container {
            background-color: $gold-dark;
            padding: 5px 10px 1px;
            margin-bottom: 0.5rem;
            border-bottom: 1px solid $gold;
        }
        .form-label {
            font-size: 0.8rem;
            color: gray;
            top: -1rem;
            left: 0;
        }
        .irs--flat {
            .irs-line,
            .irs-bar {
                height: 6px;
                background-color: $primary;
            }
            .irs-line {
                border-radius: 0;
            }
            .irs-handle {
                &>i:first-child {
                    background-color: $grey;
                    width: 3px;
                }
            }
            .irs-from, .irs-to, .irs-single { 
                z-index: 5;
                top: 5px;
                background-color: transparent;
                opacity: 0.7;
                &::before {
                    border-top-color: transparent;
                }
            }
            .irs-min, .irs-max { 
                z-index: 4;
                top: 5px;
            }
        }
    }
    body,
    input,
    select,
    textarea,
        {
        box-sizing: border-box;
    }
    body {
        &::after,
        &::before {
            box-sizing: border-box;
        }
    }
    input {
        &::after,
        &::before {
            box-sizing: border-box;
        }
    }
    select {
        &::after,
        &::before {
            box-sizing: border-box;
        }
    }
    textarea {
        &::after,
        &::before {
            box-sizing: border-box;
        }
    }
    .form-group {
        position: relative;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    .checkbox .form-help,
    .form-radio .form-help,
    .form-group .form-help {
        position: absolute;
        width: 100%;
    }
    .checkbox .form-help {
        position: relative;
        margin-bottom: 1rem;
    }
    .form-radio .form-help {
        padding-top: 0.25rem;
        margin-top: -1rem;
    }
    .form-group {
        input {
            height: 1.9rem;
        }
        textarea {
            resize: none;
        }
        select {
            width: 100%;
            font-size: 1rem;
            height: 1.6rem;
            padding: 0.125rem 0.125rem 0.0625rem;
            background: none;
            border: none;
            line-height: 1.6;
            box-shadow: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: transparent;
            background-image: url("../assets/images/iconfinder-icon.svg");
            background-repeat: no-repeat;
            background-size: 15px 15px;
            background-position-x: 100%;
            background-position-y: 5px;
            border-radius: 2px;
            margin-right: 2rem;
        }
        .control-label {
            position: absolute;
            top: -1rem;
            pointer-events: none;
            padding-left: 0.125rem;
            z-index: 1;
            color: $white;
            font-size: 0.8rem;
            font-weight: normal;
            -webkit-transition: all 0.28s ease;
            transition: all 0.28s ease;
            background: $gold-dark;
            width: 100%;
            opacity: 0.7;
        }
        .bar {
            position: relative;
            display: none;
            border-bottom: 0.0625rem solid #999;
            display: block;
            &::before {
                content: '';
                height: 0.125rem;
                width: 0;
                left: 50%;
                bottom: -0.0625rem;
                position: absolute;
                background: $primary;
                -webkit-transition: left 0.28s ease, width 0.28s ease;
                transition: left 0.28s ease, width 0.28s ease;
                z-index: 2;
            }
        }
        input,
        textarea {
            display: block;
            background: none;
            padding: 0.125rem 0.125rem 0.0625rem;
            font-size: 1rem;
            border-width: 0;
            border-color: transparent;
            line-height: 1.9;
            width: 100%;
            color: transparent;
            -webkit-transition: all 0.28s ease;
            transition: all 0.28s ease;
            box-shadow: none;
        }
        input[type="file"] {
            line-height: 1;
            ~.bar {
                display: none;
            }
        }
        select {
            color: $white;
        }
        input {
            &:focus,
            &:valid,
            &.form-file,
            &.has-value {
                color: $white;
            }
        }
        textarea {
            &:focus,
            &:valid,
            &.form-file,
            &.has-value {
                color: #333;
            }
        }
        select~.control-label {
            font-size: 0.8rem;
            color: $white;
            top: -1rem;
            left: 0;
        }
        input {
            &:focus~.control-label,
            &:valid~.control-label,
            &.form-file~.control-label,
            &.has-value~.control-label {
                font-size: 0.8rem;
                color: $white;
                top: -1rem;
                left: 0;
            }
        }
        textarea {
            &:focus~.control-label,
            &:valid~.control-label,
            &.form-file~.control-label,
            &.has-value~.control-label {
                font-size: 0.8rem;
                color: $white;
                top: -1rem;
                left: 0;
            }
        }
        select:focus,
        input:focus,
        textarea:focus {
            outline: none;
        }
        select:focus~.control-label,
        input:focus~.control-label,
        textarea:focus~.control-label {
            color: $primary;
        }
        select:focus~.bar::before,
        input:focus~.bar::before,
        textarea:focus~.bar::before {
            width: 100%;
            left: 0;
        }
        input {
            background: $gold-dark;
        }
    }
    .checkbox label,
    .form-radio label {
        position: relative;
        cursor: pointer;
        padding-left: 2rem;
        text-align: left;
        color: #333;
        display: block;
    }
    .checkbox input,
    .form-radio input {
        width: auto;
        opacity: 0.00000001;
        position: absolute;
        left: 0;
    }
    .radio {
        margin-bottom: 1rem;
        .helper {
            position: absolute;
            top: -0.25rem;
            left: -0.25rem;
            cursor: pointer;
            display: block;
            font-size: 1rem;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: #999;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                margin: 0.25rem;
                width: 1rem;
                height: 1rem;
                -webkit-transition: -webkit-transform 0.28s ease;
                transition: -webkit-transform 0.28s ease;
                transition: transform 0.28s ease;
                transition: transform 0.28s ease, -webkit-transform 0.28s ease;
                border-radius: 50%;
                border: 0.125rem solid currentColor;
            }
            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                margin: 0.25rem;
                width: 1rem;
                height: 1rem;
                -webkit-transition: -webkit-transform 0.28s ease;
                transition: -webkit-transform 0.28s ease;
                transition: transform 0.28s ease;
                transition: transform 0.28s ease, -webkit-transform 0.28s ease;
                border-radius: 50%;
                border: 0.125rem solid currentColor;
                -webkit-transform: scale(0);
                transform: scale(0);
                background-color: $primary;
                border-color: $primary;
            }
        }
        label:hover .helper {
            color: $primary;
        }
        input:checked~.helper {
            &::after {
                -webkit-transform: scale(0.5);
                transform: scale(0.5);
            }
            &::before {
                color: $primary;
            }
        }
    }
    .checkbox {
        margin-top: 3rem;
        margin-bottom: 1rem;
        .helper {
            color: #999;
            position: absolute;
            top: 0;
            left: 0;
            width: 1rem;
            height: 1rem;
            z-index: 0;
            border: 0.125rem solid currentColor;
            border-radius: 0.0625rem;
            -webkit-transition: border-color 0.28s ease;
            transition: border-color 0.28s ease;
            &::before,
            &::after {
                position: absolute;
                height: 0;
                width: 0.2rem;
                background-color: $primary;
                display: block;
                -webkit-transform-origin: left top;
                transform-origin: left top;
                border-radius: 0.25rem;
                content: '';
                -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
                transition: opacity 0.28s ease, height 0s linear 0.28s;
                opacity: 0;
            }
            &::before {
                top: 0.65rem;
                left: 0.38rem;
                -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
                box-shadow: 0 0 0 0.0625rem #fff;
            }
            &::after {
                top: 0.3rem;
                left: 0;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
        label:hover .helper {
            color: $primary;
        }
        input:checked~.helper {
            color: $primary;
            &::after,
            &::before {
                opacity: 1;
                -webkit-transition: height 0.28s ease;
                transition: height 0.28s ease;
            }
            &::after {
                height: 0.5rem;
            }
            &::before {
                height: 1.2rem;
                -webkit-transition-delay: 0.28s;
                transition-delay: 0.28s;
            }
        }
    }
    .radio+.radio,
    .checkbox+.checkbox {
        margin-top: 1rem;
    }
    .has-error {
        .legend.legend {
            color: #d9534f;
        }
        &.form-group {
            .control-label.control-label,
            .form-help,
            .helper {
                color: #d9534f;
            }
        }
        &.checkbox {
            .form-help,
            .helper {
                color: #d9534f;
            }
        }
        &.radio {
            .form-help,
            .helper {
                color: #d9534f;
            }
        }
        &.form-radio {
            .form-help,
            .helper {
                color: #d9534f;
            }
        }
        .bar::before {
            background: #d9534f;
            left: 0;
            width: 100%;
        }
    }
    .button {
        position: relative;
        background: currentColor;
        border: 1px solid currentColor;
        font-size: 1.1rem;
        color: #4f93ce;
        margin: 3rem 0;
        padding: 0.75rem 3rem;
        cursor: pointer;
        -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
        transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
        overflow: hidden;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        span {
            color: #fff;
            position: relative;
            z-index: 1;
        }
        &::before {
            content: '';
            position: absolute;
            background: #071017;
            border: 50vh solid #1d4567;
            width: 30vh;
            height: 30vh;
            border-radius: 50%;
            display: block;
            top: 50%;
            left: 50%;
            z-index: 0;
            opacity: 1;
            -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
        }
        &:hover {
            color: $primary;
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
        }
        &:active::before {
            -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
            transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
            transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
            transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
            -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
            opacity: 0;
        }
        &:focus {
            &::before {
                -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
                transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
                transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
                transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
                -webkit-transform: translate(-50%, -50%) scale(1);
                transform: translate(-50%, -50%) scale(1);
                opacity: 0;
            }
            outline: none;
        }
    }
}