#slider {
    position: relative;
    padding: 0;
    .carousel {
        min-height: 600px;
        overflow: hidden;
        .carousel-indicators {
            width: 150px;
            margin: 0 auto 15px;
            z-index: 20;
        }
        .carousel-inner {
            background-color: $dark;
            height: 690px;
            .carousel-item {
                height: 100%;
                .container {
                    position: relative;
                    z-index: 3;
                }
            }
            .cover-canvas {
                opacity: 0.2;
                position: absolute;
            }
            .text-block {
                // position: absolute;
                left: 5%;
                top: 25%;
                width: 70%;
                .btn {
                    margin-top: 20px;
                    padding: 10px 30px;
                }
            }
        }
        .carousel-controls-container {
            position: absolute;
            top: 48%;
            right: calc((100% - 1140px)/2);
            bottom: 0;
            height: 100px;
            width: 100px;
            z-index: 4;
            .carousel-control-prev,
            .carousel-control-next {
                position: static; // display: inline;
                width: auto;
                color: #fff;
                transition: opacity 0.15s ease;
                font-size: 2rem;
                height: 35px;
            }
            .carousel-control-next {
                top: 60%;
            }
            .carousel-control-prev {
                left: auto;
            }
        }
    }
    @include media-breakpoint-down(md) {
        .text-block {
            // position: absolute;
            .slider-body {
                display: none;
            }    
        }
    }

}