.section-title {
    position: relative;
    text-align: center;
    display: inline-block;
}
.title-underline {
    position: relative;
    padding-bottom: 30px;
    font-size: 2.8rem;
    &::after {
        position: absolute;
        content: '';
        width: 70px;
        height: 1px;
        left: 0;
        bottom: 0;
        background-color: $primary;
    }
}
.underlined-title {
    padding-top: 30px;
    line-height: 1.7;
    font-style: italic;
}
.braced-title {
    text-align: center;
    margin-bottom: 20px;
    h3 {
        color: $primary;
    }
}

.bracket-before,
.bracket-after {
    @extend %bracket;
}
.bracket-before {
    @extend %bracket-before;
    @extend %bracket-after;
    &::after {
        display: none;
    }
}
.bracket-after {
    @extend %bracket-before;
    @extend %bracket-after;
    &::before{
        display: none;
    }
}
.bracket-after.bracket-before {
    &::before, 
    &::after {
        display: block;
    }
}